@charset "UTF-8";

@media screen and (width >= 768px) and (width <= 992px) {
    body {
        overflow-x: hidden;
        width: 100vw;
    }

    header {
        display: flex;
        justify-content: space-between;
        transition: justify-content .5s;
    }

    main {
        background-color: white;
    }

    main > section#suporte {
        width: 100vw;
        padding-top: 200px;
        font-size: 1em;
        margin-bottom: 80px;
    }

    main > section.segunda-parte {
        text-align: justify;
        margin: auto;
        width: 600px;
        padding: 0px 0px 80px 0px;
        line-height: 25px;
        transition: width .5s, height .5s;
    }

    main h2 {
        text-align: center;
    }
}

@media screen and (width >=992px) {
    body {
        width: 99vw;
        overflow-x: hidden;
    }

    header {
        display: flex;
        justify-content: space-between;
        transition: justify-content .5s;
    }

    main {
        background-color: white;
    }

    main > section#suporte {
        width: 99vw;
        padding-top: 220px;
        font-size: 1.2em;
        margin-bottom: 80px;
    }

    main > section.segunda-parte {
        text-align: justify;
        margin: auto;
        width: 600px;
        padding: 0px 0px 80px 0px;
        line-height: 25px;
        transition: width .5s, height .5s;
    }

    main h2 {
        text-align: center;
    }

    footer p {
        text-align: right;
        padding: 0px 10px 20px 0px;

    }
}